**Python Lists**

A list in Python is a versatile, ordered, and mutable collection of items. It's a fundamental data structure used to store multiple values in a single variable. \\
**Key Characteristics:** \\

**Ordered:** Lists maintain the order in which elements are added, and this order is preserved unless explicitly modified. \\

**Mutable:** You can change, add, or remove items from a list after it's created. \\

**Heterogeneous:** Lists can contain elements of different data types, such as integers, strings, booleans, and even other lists. \\

**Indexed:** Each element in a list has an index, starting from 0 for the first element. \\
**Duplicates Allowed:** Lists can contain duplicate values. \\

**Creating Lists:** \\
Lists are created using square brackets [], with elements separated by commas:

In [5]:
mylist = ["apple", "banana", "cherry"]
print(mylist)

['apple', 'banana', 'cherry']

**List** \\
Lists are used to store multiple items in a single variable.

Lists are one of 4 built-in data types in Python used to store collections of data, the other 3 are Tuple, Set, and Dictionary, all with different qualities and usage.

Lists are created using square brackets:

In [ ]:
thislist = ["apple", "banana", "cherry"]
print(thislist)

['apple', 'banana', 'cherry']

**List Items** \\
List items are ordered, changeable, and allow duplicate values.

List items are indexed, the first item has index [0], the second item has index etc.

**Ordered** \\
When we say that lists are ordered, it means that the items have a defined order, and that order will not change.

If you add new items to a list, the new items will be placed at the end of the list.

**Changeable** \\
The list is changeable, meaning that we can change, add, and remove items in a list after it has been created.

In [ ]:
thislist = ["apple", "banana", "cherry", "apple", "cherry"]
print(thislist)

['apple', 'banana', 'cherry', 'apple', 'cherry']

**Python - Access List Items** \\
List items are indexed and you can access them by referring to the index number:

In [1]:
thislist = ["apple", "banana", "cherry"]
print(thislist[2])

cherry

**Negative Indexing** \\
Negative indexing means start from the end

-1 refers to the last item, -2 refers to the second last item etc.

In [4]:
thislist = ["apple", "banana", "cherry"]
print(thislist[-3])

apple

**Range of Indexes** \\
You can specify a range of indexes by specifying where to start and where to end the range.

When specifying a range, the return value will be a new list with the specified items.

In [6]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[1:5])  # Note: The search will start at index 2 (included) and end at index 5 (not included).

# Remember that the first item has index 0.

['banana', 'cherry', 'orange', 'kiwi']

In [7]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[:2])

['apple', 'banana']

In [8]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:])  # returns the items from "cherry" to the end

['cherry', 'orange', 'kiwi', 'melon', 'mango']

**Range of Negative Indexes** \\
Specify negative indexes if you want to start the search from the end of the list:

In [9]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[-2:-1])  #  returns the items from "orange" (-4) to, but NOT including "mango" (-1)

['melon']

**Check if Item Exists** \\
To determine if a specified item is present in a list use the in keyword:

In [19]:
#Check if "apple" is present in the list:

thislist = ["apple", "banana", "cherry"]
if "tomato" in thislist:
    print("No, 'apple' is in the fruits list")

**Python - Change List Items** \\
Change Item Value \\
To change the value of a specific item, refer to the index number:

In [16]:
thislist = ["apple", "banana", "cherry"]
thislist[1] = "blackcurrant"
print(thislist)

['apple', 'blackcurrant', 'cherry']

**Change a Range of Item Values** \\
To change the value of items within a specific range, define a list with the new values, and refer to the range of index numbers where you want to insert the new values:

In [ ]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
thislist[1:3] = ["blackcurrant", "watermelon"]
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'orange', 'kiwi', 'mango']

If you insert more items than you replace, the new items will be inserted where you specified, and the remaining items will move accordingly:

In [ ]:
#Change the second value by replacing it with two new values:

thislist = ["apple", "banana", "cherry"]
thislist[1:2] = ["blackcurrant", "watermelon"]
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'cherry']

In [ ]:
# Change the second and third value by replacing it with one value:

thislist = ["apple", "banana", "cherry"]
thislist[1:3] = ["watermelon"]
print(thislist)

['apple', 'watermelon']

**Insert Items** \\
To insert a new list item, without replacing any of the existing values, we can use the insert() method.

The insert() method inserts an item at the specified index:

In [24]:
#Insert "watermelon" as the third item:

thislist = ["apple", "banana", "cherry"]
#thislist.insert(2, "watermelon")
thislist.insert(2, "watermelon")

print(thislist)

['apple', 'banana', 'watermelon', 'cherry']

**Python - Add List Items**

In [ ]:
# Append Items
# To add an item to the end of the list, use the append() method:

#Using the append() method to append an item:

thislist = ["apple", "banana", "cherry"]
thislist.append("orange")
print(thislist)

['apple', 'banana', 'cherry', 'orange']

**Insert Items**  \\
To insert a list item at a specified index, use the insert() method.

The insert() method inserts an item at the specified index:

In [ ]:
#Insert an item as the second position:

thislist = ["apple", "banana", "cherry"]
thislist.insert(1, "orange")
print(thislist)

['apple', 'orange', 'banana', 'cherry']

**Extend List** \\
To append elements from another list to the current list, use the extend() method.

In [25]:
#Add the elements of tropical to thislist:

thislist = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "cherry"]
thislist.extend(tropical)
print(thislist)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'cherry']

**Add Any Iterable** \\
The extend() method does not have to append lists, you can add any iterable object (tuples, sets, dictionaries etc.).

In [ ]:
#Add elements of a tuple to a list:

thislist = ["apple", "banana", "cherry"]
thistuple = ("kiwi", "orange")
thislist.extend(thistuple)
print(thislist)

['apple', 'banana', 'cherry', 'kiwi', 'orange']

**Python - Remove List Items** \\
Remove Specified Item
The remove() method removes the specified item.

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist.remove("banana")
print(thislist)

['apple', 'cherry']

In [31]:
# If there are more than one item with the specified value, the remove() method removes the first occurrence:

# Remove the first occurrence of "banana":

thislist = ["apple", "banana", "banana", "cherry", "banana", "kiwi"]
thislist.remove("banana")
print(thislist)

['apple', 'banana', 'cherry', 'banana', 'kiwi']

**Remove Specified Index** \\
The pop() method removes the specified index.

In [ ]:
# Remove the second item:

thislist = ["apple", "banana", "cherry"]
thislist.pop(1)
print(thislist)

['apple', 'cherry']

In [27]:
# If you do not specify the index, the pop() method removes the last item.
# Remove the last item:

thislist = ["apple", "banana", "cherry"]
thislist.pop()
print(thislist)

['apple', 'banana']

In [31]:
# The del keyword also removes the specified index:

# Remove the first item:

thislist = ["apple", "banana", "cherry"]
del thislist[0]
print(thislist)

['banana', 'cherry']

In [34]:
# The del keyword can also delete the list completely.
# Delete the entire list:

thislist = ["apple", "banana", "cherry"]
del thislist

In [35]:
thislist = ["apple", "banana"]
del thislist

**Clear the List** \\
The clear() method empties the list.

The list still remains, but it has no content.

In [ ]:
# Clear the list content:

thislist = ["apple", "banana", "cherry"]
thislist.clear()
print(thislist)

[]

**Python - Loop Lists** \\
Loop Through a List \\
You can loop through the list items by using a for loop:

In [32]:
# Print all items in the list, one by one:

thislist = ["apple", "banana", "cherry"]
for x in thislist:
  print(x)

apple
banana
cherry

**Loop Through the Index Numbers** \\
You can also loop through the list items by referring to their index number. \\

Use the range() and len() functions to create a suitable iterable.

In [34]:
# Print all items by referring to their index number:

thislist = ["apple", "banana", "cherry"]
print(len(thislist))
for i in range(len(thislist)):
  print(thislist[i])

3
apple
banana
cherry

**Using a While Loop** \\
You can loop through the list items by using a while loop. \\

Use the len() function to determine the length of the list, then start at 0 and loop your way through the list items by referring to their indexes. \\

Remember to increase the index by 1 after each iteration.

In [ ]:
# Print all items, using a while loop to go through all the index numbers

thislist = ["apple", "banana", "cherry"]
i = 0
while i < len(thislist):
  print(thislist[i])
  i = i + 1

apple
banana
cherry

**Looping Using List Comprehension**  \\
List Comprehension offers the shortest syntax for looping through lists:

In [ ]:
# A short hand for loop that will print all items in a list:

thislist = ["apple", "banana", "cherry"]
[print(x) for x in thislist]

apple
banana
cherry

[None, None, None]

**Python - List Comprehension** \\

List comprehension offers a shorter syntax when you want to create a new list based on the values of an existing list. \\

Example:

Based on a list of fruits, you want a new list, containing only the fruits with the letter "a" in the name. \\

Without list comprehension you will have to write a for statement with a conditional test inside:

In [ ]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []

for x in fruits:
  if "a" in x:
    newlist.append(x)

print(newlist)

['apple', 'banana', 'mango']

In [40]:
# With list comprehension you can do all that with only one line of code:

fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [x for x in fruits if "a" in x]

print(newlist)

['apple', 'banana', 'mango']

**Condition** \\
The condition is like a filter that only accepts the items that evaluate to True.

In [42]:
# Only accept items that are not "apple":

newlist = [x for x in fruits if x != "apple"]
print(newlist)

['banana', 'cherry', 'kiwi', 'mango']

The condition if x != "apple"  will return True for all elements other than "apple", making the new list contain all fruits except "apple".

The condition is optional and can be omitted:

In [ ]:
# With no if statement:

newlist = [x for x in fruits]
print(newlist)

['apple', 'banana', 'cherry', 'kiwi', 'mango']

**Iterable** \\
The iterable can be any iterable object, like a list, tuple, set etc.

In [43]:
# You can use the range() function to create an iterable:

newlist = [x for x in range(10)]

In [45]:
# Accept only numbers lower than 5:

newlist = [x for x in range(10) if x < 5]
print(newlist)

[0, 1, 2, 3, 4]

**Expression** \\
The expression is the current item in the iteration, but it is also the outcome, which you can manipulate before it ends up like a list item in the new list:

In [47]:
# Set the values in the new list to upper case:

newlist = [x.upper() for x in fruits]
print(newlist)

['APPLE', 'BANANA', 'CHERRY', 'KIWI', 'MANGO']

In [48]:
# Set all values in the new list to 'hello':

newlist = ['hello' for x in fruits]
print(newlist)

['hello', 'hello', 'hello', 'hello', 'hello']

In [ ]:
# Return "orange" instead of "banana":
# "Return the item if it is not banana, if it is banana return orange".
newlist = [x if x != "banana" else "orange" for x in fruits]

**Python - Sort Lists**

Sort List Alphanumerically \\
List objects have a sort() method that will sort the list alphanumerically, ascending, by default:

In [ ]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort()
print(thislist)

['banana', 'kiwi', 'mango', 'orange', 'pineapple']

In [ ]:
# Sort the list numerically:

thislist = [100, 50, 65, 82, 23]
thislist.sort()
print(thislist)

[23, 50, 65, 82, 100]

**Sort Descending** \\
To sort descending, use the keyword argument reverse = True:

In [49]:
# Sort the list descending:

thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort(reverse = True)
print(thislist)

['pineapple', 'orange', 'mango', 'kiwi', 'banana']

In [50]:
# Sort the list descending:

thislist = [100, 50, 65, 82, 23]
thislist.sort(reverse = True)
print(thislist)

[100, 82, 65, 50, 23]

**Customize Sort Function** \\
You can also customize your own function by using the keyword argument key = function. \\

The function will return a number that will be used to sort the list (the lowest number first):

In [51]:
# Sort the list based on how close the number is to 50:

def myfunc(n):
  return abs(n - 100)

thislist = [100, 50, 65, 82, 23]
thislist.sort(key = myfunc)
print(thislist)

[100, 82, 65, 50, 23]

**Case Insensitive Sort** \\
By default the sort() method is case sensitive, resulting in all capital letters being sorted before lower case letters:

In [52]:
# Case sensitive sorting can give an unexpected result:

thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort()
print(thislist)

['Kiwi', 'Orange', 'banana', 'cherry']

In [ ]:
# Perform a case-insensitive sort of the list:

thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort(key = str.lower)
print(thislist)

['banana', 'cherry', 'Kiwi', 'Orange']

**Reverse Order** \\
What if you want to reverse the order of a list, regardless of the alphabet?

The reverse() method reverses the current sorting order of the elements.

In [ ]:
# Reverse the order of the list items:

thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.reverse()
print(thislist)

['cherry', 'Kiwi', 'Orange', 'banana']

**Python - Copy Lists**

**Copy a List** \\
You cannot copy a list simply by typing list2 = list1, because: list2 will only be a reference to list1, and changes made in list1 will automatically also be made in list2.

**Use the copy() method** \\
You can use the built-in List method copy() to copy a list.

In [ ]:
# Make a copy of a list with the copy() method:
thislist = ["apple", "banana", "cherry"]
mylist = thislist.copy()
print(mylist)

['apple', 'banana', 'cherry']

**Use the list() method** \\
Another way to make a copy is to use the built-in method list().

In [53]:

thislist = ["apple", "banana", "cherry"]
mylist = list(thislist)
print(mylist)

['apple', 'banana', 'cherry']

**Use the slice Operator** \\
You can also make a copy of a list by using the : (slice) operator.

In [ ]:
# Make a copy of a list with the : operator:

thislist = ["apple", "banana", "cherry"]
mylist = thislist[:]
print(mylist)

['apple', 'banana', 'cherry']

**Python - Join Lists** \\

**Join Two Lists**  \\

There are several ways to join, or concatenate, two or more lists in Python.

One of the easiest ways are by using the** + operator**.

In [ ]:
# Join two list:

list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

list3 = list1 + list2
print(list3)

['a', 'b', 'c', 1, 2, 3]

In [ ]:
# Append list2 into list1:

list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

for x in list2:
  list1.append(x)

print(list1)

['a', 'b', 'c', 1, 2, 3]

In [ ]:
# Or you can use the extend() method, where the purpose is to add elements from one list to another list:

# Use the extend() method to add list2 at the end of list1:

list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

list1.extend(list2)
print(list1)

['a', 'b', 'c', 1, 2, 3]

**List Methods** \\
Python has a set of built-in methods that you can use on lists. \\

**Method with Description ** \\
append()	Adds an element at the end of the list \\
clear()	Removes all the elements from the list \\
copy()	Returns a copy of the list \\
count()	Returns the number of elements with the specified value \\
extend()	Add the elements of a list (or any iterable), to the end of the current list \\
index()	Returns the index of the first element with the specified value \\
insert()	Adds an element at the specified position \\
pop()	Removes the element at the specified position \\
remove()	Removes the item with the specified value \\
reverse()	Reverses the order of the list \\
sort()	Sorts the list \\

# Exercises

In [ ]:
# What will be the result of the following syntax:

mylist = ['apple', 'banana', 'cherry']
print(mylist[1])

In [ ]:
# What will be the result of the following syntax:

mylist = ['apple', 'banana', 'cherry']
print(mylist[-1])

In [55]:
# What will be the result of the following syntax:
mylist = ['apple', 'banana', 'cherry']
mylist[0] = 'kiwi'
print(mylist[1])
print(mylist)

banana
['kiwi', 'banana', 'cherry']

In [56]:
# What will be the result of the following syntax:
mylist = ['apple', 'banana', 'cherry']
mylist.insert(0, 'orange')
print(mylist[1])
print(mylist)

apple
['orange', 'apple', 'banana', 'cherry']

In [ ]:
# What is a List method for removing list items?
pop()
push()
delete()

In [ ]:
# What is a correct syntax for looping through the items of a list?

![Screenshot from 2025-06-05 16-22-54.png]()

In [59]:
# Consider the following code:
fruits = ['apple', 'banana', 'cherry']
newlist = [x for x in fruits if x == 'mouse']
print(newlist)
# What will be the value of newlist ?

[]

In [ ]:
# What is a correct syntax for sorting a list?

mylist.orderby(0)
mylist.order()
mylist.sort()

In [ ]:
# What is a correct syntax for making a copy of a list?

list2 = list1
list2 = list1.copy()
list2.copy(list1)

In [ ]:
# What is a correct syntax for joining list1 and list2 into list3?

list3 = join(list1, list2)
list3 = list1 + list2
list3 = [list1, list2]

Q. 1 What’s the difference between pop() and remove() in Python lists?

Q. 2 List comprehensions provide a concise way to create lists.
     Create a list which stores the square values up to a given number N. Eg. L= [1,4,9,16], N=4.

Q. 3. Given a list of few names. Print the initials of each name.

In [60]:
# Q. 1 What’s the difference between pop() and remove() in Python lists?

numbers = [10, 20, 30, 40]
x = numbers.pop(2) # Removes an element at a specific index (default is the last item).
print(x)         # Output: 30
print(numbers)

numbers = [10, 20, 30, 20]
numbers.remove(20)  # remove specific values
print(numbers)

30
[10, 20, 40]
[10, 30, 20]

In [3]:
# Q.2 List comprehensions provide a concise way to create lists. Create a list which stores the square values up to a given number N. Eg. L= [1,4,9,16], N=4.
# Given number
N = 4

# List comprehension to store square values up to N
L = [i**2 for i in range(1, N + 1)]

# Print the result
print(L)

[1, 4, 9, 16]

In [71]:
# Q. 3. Given a list of few names. Print the initials of each name.
# List of names
names = ["John Doe", "Amit", "Mahatma Gandhi"]


# Print initials
for name in names:
    parts = name.split()
    print(parts)
    initials = ''.join([part[0].upper() for part in parts])
    print(initials)

['John', 'Doe']
JD
['Amit']
A
['Mahatma', 'Gandhi']
MG

In [70]:
'''
list=[5,6,7,"eight",2]

list.sort()

print(list)  list.sort()

TypeError: '<' not supported between instances of 'str' and 'int'

'''

data = [5, 6, 7, "one", 2, "Apple"]
sorted_data = sorted(data, key=str)
print(sorted_data)





data = [18, 25, 0, 100, "one", 2, "Apple", "zero" ]

sorted_data = sorted(data, key=str)

print(sorted_data)

[2, 5, 6, 7, 'Apple', 'one']
[0, 100, 18, 2, 25, 'Apple', 'one', 'zero']

In [37]:
a = [1, 2, 4, 5, 6]
a.pop(2)
print(a)

[1, 2, 5, 6]

In [39]:
a = [1, 2, 2, 4, 5, 6]
b = list(set(a))
print(b)

[1, 2, 4, 5, 6]

In [43]:
text = "Hello, world!"
reversed_text = text[::-1]
print(reversed_text)


str = "python"
str[1:4]

!dlrow ,olleH

'yth'